

/* ==============
   UTILITY STYLES
   ============== */

/* Corrects the layout around floated elements */
.u-clearfix::before,
.u-clearfix::after {
  content: " ";
  display: table;
}
.u-clearfix::after {
  clear: both;
}

/* Removes the default bullets and spacing from a list */
.u-list-reset {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* Displays list items as inline block  */
.u-list-inline li {
  display: inline-block;
}

/* ==============
   BASE STYLES
   ============== */

* {
  box-sizing: border-box;
}

body {
  background-color: #FCFCFC;
  color: var(--color-slate);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* system font stack */
  line-height: 1.3;
  margin: 0;
}

.donut-img {
  position: relative; 
  top: -30px; 
  left: -25px; 
}

.description { 
font-size: 9px; 
} 

.ingredientslist {
  
font-size: 9px;
}

.flip-card {
  background-color: transparent;
  width: 480px;
  height: 270px;
  perspective: 1000px;
  position: relative;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card-trigger {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
} 

.flip-card-trigger:hover + .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 9px;
}

.flip-card-front {
  padding: 45px;
  background-color: rgb(140, 126, 109);
  color: rgb(29, 38, 98);
}

.flip-card-back {
  background-color: rgb(255, 252, 222);
  color: rgb(140, 126, 109);
  transform: rotateY(180deg);
}

.content-alt:target ~ #description, .content-alt {
  display: none;
}

#description:target, #ingredients:target, #comments:target {
  display: block;
}